{% extends "policies/policy.njk" %}

{% block policy_content %}
    <h2>Monitoring and Alerting Policy</h2>
    <p>This page contains information about monitoring and alerting compliance standards.</p>
{% endblock %}