{% extends "policies/policy.njk" %}

{% block policy_content %}
    <h1 class="govuk-heading-l">Monitoring and Alerting Policy - Teams Overview</h1>
    <p class="govuk-body">This page shows monitoring compliance by team.</p>
{% endblock %}