{% extends "policies/policy.njk" %}

{% block policy_content %}
    <h2>Agents and Ports Policy</h2>
    <p>This page contains information about agent and port configuration compliance standards.</p>
{% endblock %}