{% extends "policies/policy.njk" %}

{% block policy_content %}
    <h2>Containers Policy</h2>
    <p>This page contains information about container compliance and security standards.</p>
{% endblock %}