{% extends "policies/policy.njk" %}

{% block policy_content %}
    <h2>Decommissioning Policy</h2>
    <p>This page contains information about decommissioning processes and compliance standards.</p>
{% endblock %}