{% extends "policies/policy.njk" %}

{% block policy_content %}
    <h2>Database Policy</h2>
    <p>This page contains information about database compliance and configuration standards.</p>
{% endblock %}